body{
  font-family: "Montserrat";
}
#title{
  background-color: #ff4c68;
  color: #fff;

}

.titleimg{
  width: 20%;
  transform: rotate(25deg);
  position: absolute;
  margin-top: 3%;
  margin-left: 2%;

  z-index: 0;
}
.h1tit{
  padding-top: 50px;
}
#features{
  padding: 7% 15% 7% 15%;
  background-color: #fff;
  position: relative;
}
#testimonials{

 text-align: center;
 background-color: #ef8172;
 color: #fff;
}
#cta{
  background-color: #ef8172;
  color: #fff;

  text-align: center;

  padding: 7% 15%;

}
.h3cat{
  font-family: "Montserrat";
  width: 900;
  line-height: 1.5;
  font-size: 3.5rem;
}
#footer{
  padding: 7% 15%;
  background-color: #fff;
  text-align: center;
}
.iconfoot{
  margin: 20px 10px;

}


.carousel-item{
  padding: 7% 15% 7% 15%;
}

.testimonials-img{
  width: 10%;
  border-radius: 100%;
  margin: 20px;

}

#pricing{
  padding: 60px;
  text-align: center;
}
.carpric{
  height: 100%;
  width: 100%;
  text-align: center;
}
.btnl{
  width: 90%
}

#press{
background-color: #ef8172;
text-align: center;
padding-bottom:3%;
}
.press-img{
  width: 15%;
  padding: 20px 20px 50px;
}
.a{
  text-align: center;
  padding: 5%;
}
h1{
  font-family: "Montserrat";
  font-size: 3.5rem;
  font-weight: 900;
  line-height: 1.5;

}

h2{
  font-family: "Montserrat";
  font-size: 3rem;
  font-weight: bold;
  line-height: 1.5;
}

h3{
  font-family: "Montserrat";
  font-weight:bold;

}
p{
  color: #8f8f8f;
}
.icon{
  color: #ef8172;
  margin-bottom: 1rem;
}
.icon:hover{
  color: #ff4c68;
}
.container-fluid{
  padding: 3% 15% 5%;
}


}
/* navigation bar */
.navbar{
  padding: 0 0 4.5rem;
}
.navbar-brand{
  font-family: "Ubuntu";
  font-size: 2.5rem;
  font-weight: bold;
}
.nav-item{
  padding: 0 18px;
}
.nav-link{
  font-size: 1.2rem;
}


.butndown{
  margin:5% 3% 5% 0;
}

@media (max-width:1024px) {
  .titleimg{
    position:relative;
    width: 60%;
    margin-left: 70px;
    transform: rotate(0deg);
}
#title{
  text-align: center;
}

}
